<div class="navbar navbar-dark bg-dark p-2" style="background-color: #e3f2fd;">
  <%= link_to "All Lists", lists_path, class: "btn btn-light" %>
  <%= link_to "Add New List", new_list_path, class: "btn btn-light" %>
</div>
