.bookmark-form-container {
  width: 50%;
  margin: 32px auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(20, 20, 20, 0.2);
  border-radius: 5px;
}

.bookmark-form {
  display: flex;
  flex-direction: column;
  .btn {
    align-self: center;
  }
}
