.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
}

.card {
  width: 300px;
  position: relative;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(20, 20, 20, 0.2)
}

.movie_poster {
  img {
    max-width: 100%;
  }
}

.del {
  display: inline;
  font-size: 15px;
  margin-bottom: 0;
}

.rating {
  display: inline;
  font-weight: bold;
  margin-bottom: 0;
}
